<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="maker">
            <h2><span jhiTranslate="qtackerApplicationApp.maker.detail.title">Maker</span> {{ maker.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qtackerApplicationApp.maker.makerName">Maker Name</span></dt>
                <dd>
                    <span>{{ maker.makerName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/maker', maker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
