<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="logUser">
            <h2><span jhiTranslate="qtackerApplicationApp.logUser.detail.title">Log User</span> {{ logUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qtackerApplicationApp.logUser.dateTimeLog">Date Time Log</span></dt>
                <dd>
                    <span>{{ logUser.dateTimeLog }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/log-user', logUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
